<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://js.stripe.com/v3/"></script>
    <title>Buy {{ item.name }}</title>
</head>
<body>
<h1>{{ item.name }} {{ item.id }}</h1>
<p>{{ item.description }}</p>
<p>{{ item.price }}</p>
<button id="buy-button" onclick="buy()">Buy</button>
<script>
    const stripe = Stripe('pk_test_51Lk2mTCwfgvrWjb6d85Qanl6Q73p0JLZAedEvHEqlyUqJiLJGA4124EzPT13YmIttfN1OhymhX8FaWW1jBtMOZc400UckOWWfz');

    function buy() {
        fetch("/buy/{{ item.id }}", {method: "GET"})
            .then(response => response.json())
            .then(session => stripe.redirectToCheckout({sessionId: session.id}))
    }
</script>
</body>
</html>