<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'order_buy' order_id %}"><button style="font-size: 20px;">Order</button></a>
{% for item in items %}
    <div class="item" style="margin: 35px">
        <h1>{{ item.name }} {{ item.id }}</h1>
        <p>{{ item.price }} {{ item.get_viewed_currency }}</p>
        <a href="{% url 'item_buy' item.id %}"><button style="font-size: 20px;">Info</button></a>
    </div>
{% endfor %}
</body>
</html>